:root {
    --global-font-family: 'Tenez', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --global-display-font-family: 'Tenez', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-size: 24px;
    --global-mobile-font-size: 13px;
    --global-line-height: 1.4;
    --global-transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    --global-radius: 3px;
    --box-shadow: rgba(25, 25, 25, 0.5);
    --color-100: #FCF8F5;
    --color-300: #E0E0E0;
    --color-500: #7b7b7b;
    --color-700: #333;
    --color-900: #042925;
    --color-primary: #F95E3F;
    --color-text: white;
    --color-black: #101010;
    --color-white: white;
    --spacer: 1.5rem;
    --spacer-sm: 0.75rem;
    --max-width: 1200px;
    --columns: 6;
    --gutter: 1.5rem;
}

@font-face {
    font-family: 'Tenez';
    font-weight: 400;
    src: url('assets/fonts/tenez-regular') format('woff2');
}

@font-face {
    font-family: 'Tenez';
    font-weight: 600;
    src: url('assets/fonts/tenez-bold') format('woff2');
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Box sizing rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Remove default margin */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    font-family: var(--global-display-font-family);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

/* html,
body {
	height: 100%;
} */
html {
	/* background-color: #333639; */
    font-size: var(--font-size);
    /* background: #D8BCB9; */
    color: white;

    @media (max-width: 1199px) {
        font-size: var(--global-mobile-font-size);
    }
}

body {
    font-family: var(--global-font-family);
	font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6) 100%) center center / cover no-repeat fixed;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
    /* Use for parallax
	background-position: 0 0; */
}

.app {
    height: 100%;
}

.app:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    background: radial-gradient(50% 50% at 50% 50%, rgba(21, 52, 43, 0.5) 22.92%, rgba(0, 0, 0, 0.83) 100%);
    height: 100vh;
}

main {
    /* scroll-snap-type: y mandatory;
	max-height: 100vh; */
    overflow-y: scroll;
    z-index: 99;
    position: relative;
}

.fold {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    padding: 5rem;
    scroll-snap-align: start;
}

.primary {
    max-width: 900px;
}

.word-container {
    display: flex;
    align-items: center;
}

.word {
    font-size: 3rem;
    line-height: 1;
    font-family: var(--global-display-font-family);
    margin-bottom: 0.5rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
}

.listen {
    cursor: pointer;
    margin-left: 1rem;
    transition: var(--global-transition);
}

.listen.active {
    transform: scale(1.2);
}

.characteristics {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: flex;
	font-size: 14px;
    margin-bottom: 1.5rem;
}

.part-of-speech {
    margin-right: 0.5rem;
}

.phonetic-notation {
    /* font-size: 0.5rem; */
}

.feather {
    width: 1rem;
    height: 1rem;
    stroke: #332046;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: middle;
}

ul li {
    /* display: flex; */
    /* justify-content: center;
	align-items: center; */
    line-height: 1.3;
    margin-bottom: 0.5rem;
    position: relative;
}


.loader {
    z-index: 15;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    transition: 0.25s linear all;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.loader.active {
    visibility: visible;
    opacity: 1;
}

article:not(:last-of-type) {
    margin-bottom: 2rem;
}

article ul {
    display: flex;
}

article li:not(:last-of-type) {
    margin-right: 1rem;
}

.etymology {
    max-width: 800px;
}

.modules h3 {
    font-weight: 500;
    font-size: 1rem;
    opacity: 0.5;
    margin-bottom: 1rem;
}
